form {
    text-align: center;
}

fieldset.question {
    legend {
        margin: 0 auto;
    }
}

.questionSection1 {
    height: 50vh;
}

.questionSection2, .questionSection3 {
    height: 100vh;
}