html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 3.3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.7rem;
  text-transform: uppercase;
}

p {
  font-size: 4.5rem;
  text-transform: uppercase;
}

legend {
  font-size: 4.5rem;
  text-transform: uppercase;
}

label {
  font-size: 1.8rem;
}

body, textarea, button {
  font-family: 'Karla', sans-serif;
}

fieldset {
  border: 0;
}

.wrapper {
  max-width: 350px;
  margin: 0 auto;
  width: 85%;
}

.results {
  height: 100vh;
  display: none;
}

.results a {
  color: black;
}

.results li, .results p {
  font-size: 2.2rem;
}

.results img {
  height: 150px;
}

.results .permaAnswer p {
  margin: 15px 0;
}

.questionSection2,
.questionSection3,
.questionSection4 {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
}

header h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}

header p {
  margin: 22px 30px;
}

.stickyTriangles {
  position: fixed;
}

.triangles {
  position: relative;
  left: -250px;
}

.triangle1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 0 500px 600px;
  border-color: transparent transparent transparent black;
  position: absolute;
  top: 0;
  left: -600px;
  z-index: 1;
}

.triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 0 500px 600px;
  border-color: transparent transparent transparent white;
  position: absolute;
  top: 0;
  left: -606px;
  z-index: 2;
}

.triangle3 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 600px 500px 0;
  border-color: transparent black transparent transparent;
  position: absolute;
  top: -250px;
  left: 509px;
  z-index: 1;
}

.triangle4 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 600px 500px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: -250px;
  left: 515px;
  z-index: 2;
}

form {
  text-align: center;
}

form textarea {
  margin: 20px auto;
}

fieldset.question legend {
  margin: 0 auto;
}

.questionSection {
  height: 100vh;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

label {
  position: relative;
  font-size: 2.3rem;
  padding: 20px 0;
  padding-left: 45px;
  cursor: pointer;
}

label::before {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: 0;
  border: 3px solid black;
}

label::before:focus {
  border: 1px solid black;
}

label::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  position: absolute;
  top: 24px;
  left: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.additionalComments::before,
.additionalComments::after {
  content: '';
  width: 0px;
  height: 0px;
  padding-left: 0px;
  display: inline;
  border-radius: 0%;
  top: 0px;
  left: 0px;
  border: none;
}

input[type="radio"]:checked + label::after {
  opacity: 1;
}

textarea {
  font-size: 1.8rem;
  display: block;
  border: 3px solid black;
  padding: 20px;
  width: 100%;
  height: 150px;
}

button {
  font-size: 1.8rem;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  -webkit-box-shadow: 3px 3px white, 6px 6px black;
          box-shadow: 3px 3px white, 6px 6px black;
  position: relative;
}

button:hover,
button:focus {
  background: black;
  color: white;
}

button:active {
  top: 3px;
  left: 3px;
  -webkit-box-shadow: 3px 3px white;
          box-shadow: 3px 3px white;
}

.finalForm p {
  margin: 0;
}
